# ==========================================
# @timmbr Storefront - Shell Zone (Port 3000)
# ==========================================

PORT=3000
NEXT_PUBLIC_DOMAIN=localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:4000

# Downstream Zone Proxies
AUTH_ZONE_URL=http://localhost:3001
PRODUCTS_ZONE_URL=http://localhost:3002
CHECKOUT_ZONE_URL=http://localhost:3003
ACCOUNT_ZONE_URL=http://localhost:3004
